<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @garden.name %>
</p>

<p>
  <strong>Banner url:</strong>
  <%= @garden.banner_url %>
</p>

<%= link_to 'Edit', edit_garden_path(@garden) %> |
<%= link_to 'Back', gardens_path %>
